li {
    list-style: none;
    width: 100%;
}

.todo {
    display: flex;
    width: 100%;
    background: #e3e3e3;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    align-items: center;
    transition: all 1s ease;
}

.todo button {
    margin: 0 2px;
}

.todo-list {
    padding: 0;
}

.completed {
    text-decoration: line-through;
    filter: opacity(0.7);
}

.fall-down {
    transform: translateY(4px) rotateZ(1deg);
    filter: opacity(0);
}